.Modal-Edit {
    position: absolute;
    width: 900px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    text-align: center;
  }

  @media (max-width: 420px) {
    .Modal-Edit {
      width: 90%;
    }
  }
  @media only screen and (min-width: 421px) and (max-width: 999.98px) {
    .Modal-Edit {
      width: 80%;
    }
  }
  .title-modal-edit {
    margin-top: 25px;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    justify-content: flex-start;
    align-items: center;
  }

  .detail-modal-edit {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
  }
  
  .buttom-modal-edit {
    background-color: mediumseagreen;
    color: #f5f5f5;
    border: 0px;
    border-radius: 10px;
  }
  .buttom-modal-edit:hover {
    opacity: 0.85;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24)
  }
  .buttom-modal-edit:focus {
    outline: 0;
  }
  .buttom-modal-edit-close {
    background-color: Crimson;
    color: #f5f5f5;
    border: 0px;
    border-radius: 10px;
  }
  .buttom-modal-edit-close:hover {
    opacity: 0.85;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24)
  }
  .buttom-modal-edit-close:focus {
    outline: 0;
  }

  .config-bnt-edit-right{
    text-align: right;
    padding-right: 7.5%;
  }
  .config-bnt-edit-left{
    text-align: left;
    padding-left: 7.5%;
  }
  

  