  .Modal-ShowDetail {
    position: absolute;
    width: 600px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: "Manjari", sans-serif;
  }
  
  @media (max-width: 420px) {
    .Modal-ShowDetail {
      width: 350px;
    }
  }
  @media only screen and (min-width: 421px) and (max-width: 649.98px) {
    .Modal-ShowDetail {
      width: 400px;
    }
  }
  .title-modal-ShowDetail {
    font-family: 'Acme', sans-serif;
    margin-top: 25px;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    justify-content: flex-start;
    align-items: center;
  }
  
  .detail-modal-ShowDetail {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(250,235,215, 0.5)
  }
  
  .buttom-modal-ShowDetail {
    background-color: mediumseagreen;
    color: #f5f5f5;
    border: 0px;
    border-radius: 10px;
  }
  .buttom-modal-ShowDetail:hover {
    opacity: 0.85;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24)
  }
  .buttom-modal-ShowDetail:focus {
    outline: 0;
  }
  .buttom-modal-ShowDetail-close {
    background-color: Crimson;
    color: #f5f5f5;
    border: 0px;
    border-radius: 10px;
  }
  .buttom-modal-ShowDetail-close:hover {
    opacity: 0.85;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24)
  }
  .buttom-modal-ShowDetail-close:focus {
    outline: 0;
  }
  
  .config-bnt-ShowDetail-right{
    text-align: right;
    padding-right: 7.5%;
    padding-bottom: 15px;
  }
  .config-bnt-ShowDetail-left{
    text-align: left;
    padding-left: 7.5%;
    padding-bottom: 15px;
  }
  
  /* m8y5V */
  
  