.Modal-SentKey {
  position: absolute;
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.title-modal-SentKey {
  font-family: 'Acme', sans-serif;
  margin-top: 25px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
  justify-content: flex-start;
  align-items: center;
}

.detail-modal-SentKey {
  
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

.buttom-modal-SentKey {
  background-color: mediumseagreen;
  color: #f5f5f5;
  border: 0px;
  border-radius: 10px;
}
.buttom-modal-SentKey:hover {
  opacity: 0.85;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24)
}
.buttom-modal-SentKey:focus {
  outline: 0;
}
.buttom-modal-SentKey-close {
  background-color: Crimson;
  color: #f5f5f5;
  border: 0px;
  border-radius: 10px;
}
.key-h3{
  display: inline;
  color: black;
}
.detail-model-Key .key-h3-2 {
  font-family: 'Acme', sans-serif;
  display: inline;
  color : Crimson ;
}
.buttom-modal-SentKey-close:hover {
  opacity: 0.85;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24)
}
.buttom-modal-SentKey-close:focus {
  outline: 0;
}

.config-bnt-SentKey-right{
  text-align: right;
  padding-right: 7.5%;
  margin-bottom: 20px;
}
.config-bnt-SentKey-left{
  text-align: left;
  padding-left: 7.5%;
  margin-bottom: 20px;
}


