.Modal {
  position: absolute;
  width: 450px;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  text-align: center;
  font-family: 'Manjari', sans-serif;
}
@media (max-width: 420px) {
  .Modal {
    width: 300px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 649.98px) {
  .Modal {
    width: 350px;
  }
}

.error-modal {
  padding: 25px 0;
  color: Crimson;
}
.error-icon {
  max-height: 80px;
  width: auto;
}
.error-haeder-model {
  padding-top: 25px;
  color: rgba(0, 0, 0, 0.8);
  align-items: center;
  font-weight: bold;
}
.detail-modal {
  color: rgba(0, 0, 0, 0.8);
  align-items: center;
  background-color: #f5f5f5;
}
hr.red{
  border-top: 2px solid red;
}

.Overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
