.Modal {
  position: absolute;
  width: 750px;
  height: 325px;
  background-color: #f5f5f5;
  border-radius: 30px;
  text-align: center;
  
  
}
@media (max-width: 420px) {
  .Modal {
    width: 350px;
    height: 225px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 649.98px) {
  .Modal {
    width: 400px;
    height: 250px;
  }
}
@media only screen and (min-width: 650px) and (max-width: 767.98px) {
  .Modal {
    width: 450px;
    height: 275px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .Modal {
    width: 650px;
    height: 300px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .Modal {
    width: 750px;
    height: 325px;
  }
}
.title-modal {
  margin-top: 25px;
  padding-top: 10px;
  color: whitesmoke;
  background-color: Crimson;
  justify-content: flex-start;
  align-items: center;
}
.icon-modal {
  color: Crimson;
}

.detail-modal {
  margin-top: 10px;
  color: Crimson;
  font-size: 20px;
}

.buttom-modal {
  background-color: Crimson;
  color: #f5f5f5;
  border: 0px;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
}
.buttom-modal:hover {
  background-color: #f5f5f5;
  color: Crimson;
  border: 2px solid Crimson;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
