
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none!important;
  
}
* {
  margin:0;
  padding:0;
  
}
* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }

html, body {
  height: 100%;
  overflow: auto;
  font-size:  18px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  
}
