@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}


.gVWnuK .ml-auto {
    margin-top: 0px;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #f5f5f5;
}